<h1>Attention Lab Statistic Services</h1>

<div class="post">
	<div style="clear: both;">&nbsp;</div>
	<div class="entry">
		<p>Welcome to attention lab statistic services</p>
		<p>Here you will be able to upload research .ans files to the attention central database and get measurements for past researches</p>
	</div>
</div>

</p>
<%= image_tag("post-it-note_pay-attention.jpg") %>