
<h1>Measure</h1>
<br />
<table border=0>
<%= form_tag({:action => :measure, :format => :csv}) do %>
<%= render "shared/research" %>
<tr colspan=2>
    <td><%= submit_tag("Execute") %></td>
</tr>
<% end %>
</table>
<%=@name_to_r_hash.to_s %>